/* =============================================================================
 *
 * Waybar styles
 *
 * Styles reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

@define-color black				#000000;
@define-color red				#ff0000;
@define-color green				#00ff00;
@define-color blue				#0000ff;
@define-color magenta			#ff00ff;
@define-color cyan				#00ffff;
@define-color yellow			#ffff00;
@define-color white				#ffffff;

@define-color ghostwhite		#f8f8ff;
@define-color snow				#fffafa;
@define-color whitesmoke		#f5f5f5;
@define-color gainsboro			#dcdcdc;
@define-color lightgray			#d3d3d3;
@define-color silver			#c0c0c0;
@define-color darkgray			#a9a9a9;
@define-color gray				#808080;
@define-color dimgray			#696969;
@define-color lightblack		#2d2d2d;
@define-color darkblack			#1e1e1e;
@define-color golden			#ffd700;
@define-color goldenrod			#daa520;
@define-color darkgoldenrod		#b8860b;
@define-color orange			#ffa500;
@define-color darkorange		#ff8c00;
@define-color orchid			#da70d6;
@define-color crimson			#dc143c;
@define-color darkred			#8b0000;
@define-color deepskyblue		#008cff;
@define-color violet			#ee82ee;
@define-color fuchsine			#e4007f;
@define-color darkfuchsine		#a90069;
@define-color darkerfuchsine	#96005a;
@define-color darkestfuchsine	#80004e;
@define-color lightmagenta		#a900a9;
@define-color darkmagenta		#8b008b;
@define-color purple			#800080;
@define-color darkpurple		#690069;

@define-color info_color				#008cff;
@define-color background_color			#1e1e1e;
@define-color foreground_color			#fffafa;
@define-color theme_selected_bg_color	#690069;
@define-color theme_selected_fg_color	#dcdcdc;
@define-color theme_menu_color			#8b008b;

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink {
	70% {
		color: @wm_icon_bg;
	}
	to {
		color: @wm_icon_bg;
		background-color: @info_color;
	}
}
@keyframes blink-warning {
	70% {
		color: @wm_icon_bg;
	}
	to {
		color: @wm_icon_bg;
		background-color: @warning_color;
	}
}
@keyframes blink-critical {
	70% {
		color: @wm_icon_bg;
	}
	to {
		color: @wm_icon_bg;
		background-color: @error_color;
	}
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	/* `otf-font-awesome` is required to be installed for icons */
	/*font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
	/*font-family: "JetBrainsMono NF", "Roboto Mono", sans-serif; */
	font-family: "monospace", "system-ui", sans-serif;
}

/* The whole bar */
window#waybar {
	/*
	background-color: rgba(43, 48, 59, 0.5);
	border-bottom: 3px solid rgba(100, 114, 125, 0.5);
	color: #ffffff;
	 */
	background-color: @background_color;
	color: @wm_icon_bg;
	font-size: 14px;
	transition-property: background-color;
	transition-duration: .5s;
}
window#waybar.hidden {
	opacity: 0.2;
}

window#waybar.empty {
	background-color: transparent;
}
window#waybar.solo {
	background-color: transparent;
}
/*
window#waybar.termite {
	background-color: #3f3f3f;
}
window#waybar.chromium {
	background-color: #000000;
	border: none;
}
*/

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */
/* Each module */
#window,
#workspaces,
#scratchpad,
#mode,
#mpd,
#idle_inhibitor,
#cpu,
#memory,
#temperature,
#disk,
#network,
#pulseaudio,
#backlight,
#battery,
#languge,
#keyboard-state,
#tray,
#clock,
#custom-separator,
#custom-uptime,
#custom-menu,
#custom-user,
#custom-clipboard,
#custom-notifier,
#custom-weather,
#custom-media {
	margin: 0;
	padding: 0 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

/*
#custom-menu,
#custom-user,
*/
#workspaces button.focused,
#clock {
	color: @theme_selected_fg_color;
	background-color: @theme_selected_bg_color;
	margin: 1px 0px 1px 0px;
	border-radius: 4px;
}
window#waybar.solo #workspaces button.focused,
window#waybar.empty #workspaces button.focused,
window#waybar.solo #clock,
window#waybar.empty #clock {
	background-color: transparent;
	border-radius: inherit;
}
window#waybar.solo #custom-menu,
window#waybar.empty #custom-menu {
	background-color: transparent;
	color: @theme_menu_color;
	border-radius: inherit;
}

button {
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
	/* Avoid rounded borders under each button name */
	border: none;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
	box-shadow: inset 0 -3px @foreground_color;
}

#workspaces button {
	/* To compensate for the top border and still have vertical centering */
	padding: 0;
	background-color: transparent;
}

#workspaces button:hover {
	box-shadow: inset 0 -3px @foreground_color;
	text-shadow: inherit;
}
#workspaces button.visible {
	font-weight: bold;
}
#workspaces button.focused {
	border-color: @theme_selected_bg_color;
	box-shadow: inset 0 -3px @foreground_color;
}
#workspaces button.urgent {
	border-color: @warning_color;
	color: @error_color;
}

#scratchpad {
	background-color: transparent;
}
#scratchpad.empty {
	background-color: transparent;
}

#mode {
	/*background: @background_color;*/
	background-color: transparent;
}

#mpd {
	background-color: #66cc99;
	color: #2a5c45;
}
#mpd.disconnected {
	background-color: #f53c3c;
}
#mpd.stopped {
	background-color: #90b1b1;
}
#mpd.paused {
	background-color: #51a37a;
}

#idle_inhibitor {
	/* No styles */
}
#idle_inhibitor.activated {
	color: @warning_color;
}

label:focus {
	background-color: #ecf0f1;
	color: #000000;
	font-weight: bold;
}

#cpu {
	/* No styles */
}
#cpu.warning {
	color: @warning_color;
}

#cpu.critical {
	color: @error_color;
}

#memory {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#memory.warning {
	color: @warning_color;
}
#memory.critical {
	color: @error_color;
	animation-name: blink-critical;
	animation-duration: 2s;
}

#temperature {
	/* No styles */
}
#temperature.critical {
	color: @error_color;
}

#network {
	/* No styles */
}
#network.disconnected {
	color: @warning_color;
}

#pulseaudio {
	/* No styles */
}
#pulseaudio.muted {
	color: @warning_color;
}

#wireplumber {
	background-color: #fff0f5;
	color: #000000;
}
#wireplumber.muted {
	background-color: #f53c3c;
}

#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#battery.warning {
	color: @warning_color;
}
#battery.critical {
	color: @error_color;
}
#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 3s;
}
#battery.charging, #battery.plugged {
	color: #ffffff;
	background-color: #26A65B;
}

#language {
	background: #00b093;
	color: #740864;
	padding: 0 5px;
	margin: 0 5px;
	min-width: 16px;
}
#keyboard-state {
	background: #97e1ad;
	color: #000000;
	padding: 0 0px;
	margin: 0 5px;
	min-width: 16px;
}
#keyboard-state > label {
	padding: 0 5px;
}
#keyboard-state > label.locked {
	background: rgba(0, 0, 0, 0.2);
}

#tray {
	/*background-color: @background_color;*/
	background-color: transparent;
}
#tray > .passive {
	-gtk-icon-effect: dim;
}
#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	/*background-color: @warning_color;*/
	background-color: @theme_selected_bg_color;
}

#clock {
	font-weight: bold;
}

#custom-menu {
	/*padding-right: 10px;*/
	color: @theme_menu_color;
}

#custom-user {
	/*padding-left: 10px;*/
}

#custom-media {
	background-color: #66cc99;
	color: #2a5c45;
	min-width: 100px;
}
#custom-media.custom-spotify {
	background-color: #66cc99;
}
#custom-media.custom-vlc {
	background-color: #ffa000;
}

