/* https://github.com/sachahjkl/wofi-arc-dark */
/* ::root{ */
/*     --accent: #5291e2; */
/*     --dark: #383C4A; */
/*     --light: #7C818C; */
/*     --ld: #404552; */
/*     --dl: #4B5162 */
/*     --white: white; */
/* } */

@define-color bg-select			#5291E2;
@define-color bg-light			#7C818C;
@define-color bg-dark			#383C4A;
@define-color bg-entry			#404552;
@define-color bg-alter			#4B5162;

@define-color black				#000000;
@define-color red				#FF0000;
@define-color green				#00FF00;
@define-color blue				#0000FF;
@define-color magenta			#FF00FF;
@define-color cyan				#00FFFF;
@define-color yellow			#FFFF00;
@define-color white				#FFFFFF;

@define-color ghostwhite		#f8f8ff;
@define-color snow				#fffafa;
@define-color whitesmoke		#f5f5f5;
@define-color gainsboro			#dcdcdc;
@define-color lightgray			#d3d3d3;
@define-color silver			#c0c0c0;
@define-color darkgray			#a9a9a9;
@define-color gray				#808080;
@define-color dimgray			#696969;
@define-color lightblack		#2d2d2d;
@define-color darkblack			#1e1e1e;
@define-color golden			#ffd700;
@define-color goldenrod			#daa520;
@define-color darkgoldenrod		#b8860b;
@define-color orange			#ffa500;
@define-color darkorange		#ff8c00;
@define-color orchid			#da70d6;
@define-color crimson			#dc143c;
@define-color darkred			#8b0000;
@define-color deepskyblue		#008cff;
@define-color violet			#ee82ee;
@define-color fuchsine			#e4007f;
@define-color darkfuchsine		#a90069;
@define-color darkerfuchsine	#96005a;
@define-color darkestfuchsine	#80004e;
@define-color lightmagenta		#a900a9;
@define-color darkmagenta		#8b008b;
@define-color purple			#800080;
@define-color darkpurple		#690069;

* {
	font-family: monospace;
}

#window {
	animation-name: fadeIn;
	animation-duration: 0.4s;
	background-color: @bg-light;
}

#input {
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid @magenta;
	background-color: @bg-dark;
	color: white;
	margin: 5px 5px 15px 5px;
	padding: 5px;
}
#input:focus {
	border: 1px solid @magenta;
}

#inner-box {
	background-color: @bg-dark;
}

#outer-box {
	margin: 1px;
	padding:20px;
	background-color: @bg-dark;
}

#scroll {
}

#text {
	padding: 5px;
	color: white;
}

#entry {
	border-radius: 5px;
	padding: 5px 12px 5px 12px;
	margin: 0px 4px 0px 4px;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

#entry:nth-child(even){
	background-color: @bg-entry;
}

#entry:selected {
	/*
	background-color: @bg-select;
	*/
	background-color: @purple;
}

#text:selected {
}
