/* https://github.com/sachahjkl/wofi-arc-dark */
/* ::root{ */
/*     --accent: #5291e2; */
/*     --dark: #383C4A; */
/*     --light: #7C818C; */
/*     --ld: #404552; */
/*     --dl: #4B5162 */
/*     --white: white; */
/* } */

@define-color black				#000000;
@define-color red				#ff0000;
@define-color green				#00ff00;
@define-color blue				#0000ff;
@define-color magenta			#ff00ff;
@define-color cyan				#00ffff;
@define-color yellow			#ffff00;
@define-color white				#ffffff;

@define-color ghostwhite		#f8f8ff;
@define-color snow				#fffafa;
@define-color whitesmoke		#f5f5f5;
@define-color gainsboro			#dcdcdc;
@define-color lightgray			#d3d3d3;
@define-color silver			#c0c0c0;
@define-color darkgray			#a9a9a9;
@define-color gray				#808080;
@define-color dimgray			#696969;
@define-color lightblack		#2d2d2d;
@define-color darkblack			#1e1e1e;
@define-color golden			#ffd700;
@define-color goldenrod			#daa520;
@define-color darkgoldenrod		#b8860b;
@define-color orange			#ffa500;
@define-color darkorange		#ff8c00;
@define-color orchid			#da70d6;
@define-color crimson			#dc143c;
@define-color darkred			#8b0000;
@define-color deepskyblue		#008cff;
@define-color violet			#ee82ee;
@define-color fuchsine			#e4007f;
@define-color darkfuchsine		#a90069;
@define-color darkerfuchsine	#96005a;
@define-color darkestfuchsine	#80004e;
@define-color lightmagenta		#a900a9;
@define-color darkmagenta		#8b008b;
@define-color purple			#800080;
@define-color darkpurple		#690069;

@define-color bg-select			#800080;
@define-color bg-light			#c0c0c0;
@define-color bg-dark			#222222;
@define-color bg-entry			#2d2d2d;
@define-color bg-alter			#8b008b;

@keyframes erscheinen {
    from {opacity: 0;}
      to {opacity: 1;}
}
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

* {
	font-family: "monospace", "system-ui", sans-serif;
	font-size: 14px;
}

#window {
	animation-name: fadeIn;
	animation-duration: 0.4s;
	background-color: transparent;
}

#input {
	border: none;
	border-radius: 0px;
	border-bottom: 2px solid @bg-select;
	background-color: @bg-dark;
	color: @snow;
	/*margin: 5px 5px 15px 5px;*/
	margin: 0px 5px 15px 5px;
	padding: 5px;
	animation: erscheinen 0.3s linear;
}
#input:focus {
	box-shadow: inherit;
	/*border: 2px solid @bg-select;*/
	border-bottom: 2px solid @bg-alter;
}

#inner-box {
	background-color: @bg-dark;
	border-radius: 0px;
}
#outer-box {
	background-color: @bg-dark;
	border: 1px solid @darkpurple;
	border-radius: 0px;
	box-shadow: transparent;
	padding:25px;
	margin: 1px;
}

#scroll {
	animation: erscheinen 0.3s linear;
}

#entry {
	border-radius: 5px;
	padding: 6px 12px 6px 12px;
	margin: 0px 4px 0px 4px;
}
/*
#entry:nth-child(even){
	background-color: @bg-entry;
}
*/
#entry:nth-child(odd){
	background-color: @bg-entry;
}
#entry:selected {
	background-color: @bg-select;
}

#text {
	padding: 5px;
	color: @gainsboro;
}
#text:selected {
	font-weight: bold;
	color: @snow;
}

#img {
	background-color: transparent;
}

