[Desktop Entry]
Name=Visual Studio Code
Comment=Multi-platform code editor for Linux
GenericName=Text Editor
Exec=/opt/vscode-linux-x64/bin/code
Icon=/opt/vscode-linux-x64/resources/app/resources/linux/code.png
Type=Application
StartupNotify=true
StartupWMClass=Code
Categories=TextEditor;Development;IDE;Utility;
Keywords=vscode;
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;inode/directory;application/x-code-workspace;
